body{
    font-family: sans-serif, monospace;
}

h1{
    font-size: 44px;
    color: coral;
}

input[type="text"]{
    width: 200px;
    padding: 12px 12px;
    border: 1px solid gray;
       box-sizing: border-box;
    
}

input[type="submit"]{
    width: 200px;
    padding: 12px 12px;
    border: 1px solid gray;
       box-sizing: border-box;
}


#settings{
text-align: center;
    margin:auto;
}

#gra{
text-align: center;
    margin:auto;
}