<!DOCTYPE html>
<html ng-app="webapp">

<head>
    <title>Połączenie HTTP - angularjs</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>

<body>
    <div ng-controller="mainController">
        <p ng-repeat="subject in subjects">

            <span class="myFont" ng-hide="subject.id == actuallyEditedId" ng-dblclick="edit(subject)">{{ subject.name }}</span>

            <input type="text" ng-model="subject.name" ng-show="subject.id == actuallyEditedId" ng-keyup="tryEdit($event.keyCode, subject)">

            <!--   <button ng-click="edit(subject)" class="right myFont">Edytuj</button>-->
        </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.5/angular-route.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>
