
          <form class="navbar-form navbar-left" >
            <div class="form-group">
                <input type="text" ng-model="title" class="form-control" placeholder="task title">
                
                <textarea rows="4" cols="50" ng-model="desc" class="form-control" placeholder="description"></textarea>
                
                 
            </div>
                <button type="submit" ng-click="add()" class="btn btn-primary">Submit</button></form>
          <br><br>
          <br><br>
      